@import "tailwindcss";
@custom-variant hocus (&:hover, &:focus);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-display), var(--font-sans), sans-serif;
  animation: fadeIn cubic-bezier(0.6, 0.2, 0.1, 1) 1.5s;
  background-color: var(--background);
  background: url(/background.png) no-repeat center center;
  background-size: cover;
  height: 100svh;
  backdrop-filter: blur(1rem);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0) 25%
  );
  z-index: -1;
  backdrop-filter: blur(1rem);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "GRAD" 1, "opsz" 48;
  user-select: none;
}

.after\:separator {
  @apply after:content-[''] after:block after:h-0.5 after:my-2 after:w-4 after:mx-auto;
}
